# Python Sanal Ortamları
cv_env/
__pycache__/
*.pyc

# Girdi ve Çıktı Videoları
input_videos/
output_videos/
*.mp4
*.avi

# Veri Setleri ve Arşivler
*.zip
*.tar
*.gz
training/football-players-detection-*/
!training/football-players-detection-*/data.yaml
!training/football-players-detection-*/data_abs.yaml
datasets/

# Stubs (Önbellek - Cache)
stubs/
*.pkl

# YOLO Model Ağırlıkları
*.pt
models/

# YOLO Eğitim ve Tahmin Logları
runs/
training/runs/
ultralytics/

# Jupyter Notebook Sistem Dosyaları
.ipynb_checkpoints/
.pytest_cache/
.vscode/